@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


* {
	box-sizing: border-box;
}

body {
  text-align: center;
}

.event-body p, .event-details-introduction p, .content p {
	font-size: 1.35em;
}

.page-title {
  display: none;
}

.site-footer {
  margin-top: 0;
}

.widget-inner {
  padding: 0;
}

.event-form {
  text-align: left;
  padding: 2em;
}

h2, .event-h2 {
	margin-top: 2em;
	margin-bottom: 1em;
	font-weight: bold;
  font-size: 2.7em;
}

.event-details-introduction {
	padding: 0 1em;
}

h3 {
	margin-top:1.5em;
	color: #0BA0C0;
	font-weight: bold;
}

h3.step-title {
  color: black;
  font-weight: bold;
  font-size: 1.8em;
}

h5 {
	font-size: 16px;
	font-weight:bold;
	margin-top:1.5em;
}

.event-feature {
	max-height: 350px;
	overflow: hidden;
}

.container {
	background-color: white;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.col-md-12 {
	padding: 0;
}

.row {
	margin: 0;
}

img {
	max-width: 100%;
  height: auto;
}

.event-header__text {
	padding: 0 1em;
  font-family: 'Open Sans', sans-serif !important;
}

.step-description {
	color: rgba(0,0,0,.9);
	font-size: 1.2em;
	margin-top: 1em;
	margin-bottom: 2em;
	padding: 1em;
}

.what-is__title {
	color: white;
	margin-bottom: 1em;
  font-size: 1.85em;
  font-weight: bold;
  text-transform: none;
	position: relative;
	z-index: 1000;
}

.headtext__title {
	color: #78BE20;
	margin: 0;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 0;
}

.headtext__date {
	color: #78BE20;
	font-weight: bold;
	margin:0;
	font-size: 3em;
  font-family: 'Open Sans', sans-serif;;
}

.headtext__countdown {
	color: #78BE20;
	font-size: 2.75em;
	font-weight: 300;
}

h2.headtext {
	margin-top: 0.5em;
}

h1.headtext {
	margin-bottom: 0.5em;
}

.callout {
	color: white;
	background-color: #FF6C17;
	padding: 1em;
	font-size: 1.4em;
	margin: 0 auto;
  font-weight: bold;
	text-transform: uppercase;
}

.event-introduction {
	color: white;
	background-color: #78BE20;
	padding: 2em;
	padding-bottom: 4em;
	margin: 0 auto;
	-webkit-clip-path: polygon(0% 0%, 0% 74%, 50% 100%, 100% 74%, 100% 0%);
clip-path: polygon(0% 0%, 0% 74%, 50% 100%, 100% 74%, 100% 0%);
}

.event-introduction p {
  max-width: 650px;
  margin: 0 auto;
	font-size: 1.2em;
}

.event-introduction__triangle {
	height: 50px;
	width: 100%;
	display: block;
	background-color: #78BE20;
	-webkit-clip-path: polygon(50% 91%, 0 0, 100% 0);
clip-path: polygon(50% 91%, 0 0, 100% 0);
margin-top: -1px;
}

.step-container {
	padding: 1em 0;
}

h4.sponsor-title {
	margin-top: 1em;
  font-size: 1.4em;
}

.step {
	color: white;
	background-size: cover;
	padding: 3em 1em;
	margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.step-1 {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/259273/rec1.jpg);
}

.step-2 {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/259273/rec2.jpg);
}

.step-3 {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/259273/rec3.jpg);
}

.step-container {
	margin-bottom: 2em;
}

.btn {
	text-decoration: none;
	text-transform: uppercase;
	color: #ED008C;
	border: 1px solid #ED008C;
	padding: 1.5em;
	display: inline-block;
	font-weight: 700;
}

a.step-1-btn {
	color: #ED008C;
	border-color:#ED008C;
}

a.step-1-btn:hover {
	color: white;
	background-color: #ED008C;
}

a.step-2-btn {
	color: #FF6C17;
	border-color: #FF6C17;
}

a.step-2-btn:hover {
	color: white;
	background-color: #FF6C17;
}

a.step-3-btn {
	color: #78BE20;
	border-color: #78BE20;
}

a.step-3-btn:hover {
	color: white;
	background-color: #78BE20;
}

.circle {
	display: none;
}



.event-footer__title {
	color: white;
  text-transform: none;
}

.what-is__description {
	font-size: 1.25em;
	max-width: 650px;
	margin: 0 auto;
	z-index: 1000;
	position: relative;
}

.what-is {
	color: white;
	background-color: #FF6C17;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/259273/orngimage.jpg);
	background-size: cover;
	padding: 2em;
	padding-bottom: 4em;
	margin: 0 auto;
	-webkit-clip-path: polygon(0% 1%, 0% 84%, 50% 100%, 100% 84%, 100% 0%);
clip-path: polygon(0% 1%, 0% 84%, 50% 100%, 100% 84%, 100% 0%);
position: relative;
background-blend-mode: darken;
}

.what-is:after {
	background-color: #FF6C17;
	width: 100%;
	height: 100%;
	content: "";
	top: 0;
	left: 0;
	opacity: .5;
	z-index: 100;
	position: absolute;

}

h4.coming-soon {
	color: gray;
	font-style: italic;
	padding: 2em 0 .5em 0;
  font-size: 2em;
}

.email {
	border: none;
	color: white;
	text-transform: lowercase;
	text-decoration: none;
}

.email:hover {
	color: gray;
	background: none;
}

.event-footer {
	color: white;
	background-color: #0BA0C0;
	padding: 1.75em 1.5em;
	margin: 2em auto 0 auto;
}

.event-header__logo {
	margin-top: 1em;
  display: block;
}

ul {
  padding: 0;
  list-style-type: none;
}

.lightbulb {
	max-width: 150px;
	margin-top: .75em;
}

.event-header__logo {
	max-width: 350px;
  margin: 0 auto;
}

.event-header {
	margin-bottom: 2em;
  text-align: center;
}

h4.sponsor-title {
	font-weight: bold;
	text-transform: uppercase;
  color: black;
}

.headtext__countdown span {
  font-size: .95rem;
  display:block;
  width:100%;
}

#demo {
  text-align: center;
  display:inline-block;
}

.unit {
  float: left;
  position: relative;
  padding-right: .65em;
}

.unit:last-child {
  padding-right: 0;
}
.unit:last-child:after {
  content: none;
}

.unit:after {
  content: ":";
  position: absolute;
  right: 0;
  top: 0;
  padding-left: .25em;
  padding-right: .15em;
}

.sponsor-partner ul li {
	margin-bottom: 2em;
	display: block;
	margin-top: 1em;
}

.sponsor-partner img {
	width: auto;
	max-width: 100%;
	max-height: 50px;
}

.sponsor-partner {
	margin-bottom: 3em;
}

@media screen and (min-width: 600px)
{
	.event-header {
		display: flex;
		overflow: hidden;
		align-items: center;
		justify-content:center;
	}

	.step-description {
		padding: 0;
	}

  .callout {
    font-size: 160%;
  }

	.step-title {
		margin-top: 0;
		text-transform: none;
    font-size: 120%;
	}

  .event-h2 {
    margin-bottom: 1.25em;
  }

	.headtext__date {
		font-size: 3.5em;
	}

	.headtext__countdown {
		font-size: 3em;
	}

	.sponsor-partner {
		display: flex;
		width: 80%;
		margin: 0 auto;
		justify-content: space-between;
	align-items: center;
	margin-bottom: 3em;
}
		.sponsor-partner h4 {
			width: 25%;
      font-size:1.3em;
		}

		.sponsor-partner ul {
			width: 75%;
			display: flex;
			/*justify-content: space-between;*/
			align-items: center;
			margin-bottom:0;
		}

		.sponsor-partner ul li {
			margin-right: 3.5em;
			margin-bottom: 0;
		}

	.step-container {
	margin-bottom:0;
}

	.school-advisor {
		display: flex;
		width: 100%;
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.event-header__image {
		width: 40%;
		max-width: 300px;
	}

	.event-header__text {
		width: 55%;
		margin-left: 3%;
		padding: 0 2em;
	}

	.lightbulb {
		max-width: 100%;
		margin-left: -20px;
	}

	.headtext {
		font-size: 2em;
	}

	.event-introduction {
		padding: 6em 5em;
		padding-bottom: 8em;
	}

	.event-introduction p, .what-is__description {
		font-size: 1.65em;
	}

	.what-is {
		padding: 4em;
		padding-bottom: 7em;
		background-position: center -150px;
	}

	.step {
		color: black;
		background-image: none;
		padding: 0;
		font-size: 1.4em;
		margin-bottom: .25em;
	}

	.step-container__image {
		position: relative;
		width: 30%;
	}

	.step-container {
		background-color: rgba(255, 108, 23,0.05);
		padding: 3em 1em;
		text-align: left;
		//overflow-y: hidden;
		display: flex;
	}

	.circle {
		display: block;
		//width: 100%;
		//max-width: 300px;
		position: absolute;
	  min-width: 180px;
	}

	.circle1 {
		margin-left:-75px;
		margin-top:-50px;
	}

	.circle2 {
		right: -70px;
	}

	.circle3 {
		margin-left:-75px;
		margin-top: 10px;
	}

	.step-container__details {
		width: 80%;
		margin-left: 5%;
	}

	.step-container--1 {
		background-color: rgba(237, 0, 140, 0.05);
	}

	.step-container--3 {
		background-color: rgba(120, 190, 32, 0.1);
	}

	.event-footer__info {
		display: flex;
		width: 60%;
		margin: 0 auto;
		margin-top: 2em;
		justify-content: space-between;
	}

	.school-advisor__column, .advisor-column {
		width: 50%;
	}

}

@media screen and (min-width: 900px) {

	.event-header {
		font-size: 135%;

	}

	.step-container {
		padding: 3em 1em;
		font-size: 120%;
	}

  .event-header__image {
    max-width: 300px;
  }

  .headtext__countdown {
    margin-top: .5em;
  }

  .circle1 {
    margin-top: -100px;
  }

	.step-container__details {
		margin-left: 8%;
	}

  .step-container__details--step-2 {
    margin-left: 12%;
  }

	.circle {
		min-width: 280px;
	}

	.event-header__logo {
		max-width: 400px;
	}

	.what-is__title {
		font-size: 1.95em;
	}

}

@media screen and (min-width: 1100px) {
  .event-header {
    padding: 0 6em;
  }
}


/* Speaker Styles */

.content_speaker--keynote {
	border-radius: 50%;
	max-width: 250px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.content_speaker {
	border-radius: 50%;
	max-width: 150px;
	margin-top: 1em;
	margin-bottom: 1em;
}


/* Start Accordion Styles */

.togglebox {
  margin: 0 auto;
	width: 90%;
	margin-top: 2em;
	margin-bottom: 4em;
  background: #fff;
  transform: translateZ(0);
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

label {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 1.6em;
  font-weight: 700;
  border: 1px solid #FF6C17;
  background: #fff;
  cursor: pointer;
	margin-bottom: 10px;
}

label:after {
  content: '\f078';
  position: absolute;
  top: 0px;
  right: 20px;
  font-family: fontawesome;
  transform: rotate(90deg);
  transition: .3s transform;
}

label:hover, label:focus {
	background-color: #FF6C17;
	transition: .3s all ease-in-out;
	color: white;
}

.content {
  max-height: 0;
  transition: .3s all;
  overflow: hidden;
}

#toggle1:checked ~ label[for*='1']:after,
#toggle2:checked ~ label[for*='2']:after,
#toggle3:checked ~ label[for*='3']:after,
#toggle4:checked ~ label[for*='4']:after {
  transform: rotate(0deg);
}

#toggle1:checked ~ #content1,
#toggle2:checked ~ #content2,
#toggle3:checked ~ #content3,
#toggle4:checked ~ #content4 {
  max-height: 500em;
}

#toggle1:checked ~ label[for*='1'],
#toggle2:checked ~ label[for*='2'],
#toggle3:checked ~ label[for*='3'],
#toggle4:checked ~ label[for*='4'], #toggle1:hover {
  background-color: #FF6C17;
	color: white;
}

.content {
  padding-left: 20px;
}

.panelists {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.panelist {
  width: 47%;
	margin-bottom: 2em;
}

.panelist-blank {
	display: none;
}

@media screen and (min-width: 900px) {
	.panelist {
		width: 23%;
		margin-left: auto;
		margin-right: auto;
	}
}

.panelist-blank {
	display: block;
}

.content__video__container {
	height: 300px;
	width: 100%;
	display: block;
	background-color: gray;
	max-width: 400px;
	margin: 0 auto;
}

.content__video {
	margin-top: 2em;
}

@media screen and (min-width: 900px) {
	.content__keynote {
		display: flex;
		justify-content: space-between;
	}
	.content__video {
		width: 45%;
	}
	.content__video__container {
		max-width: inherit;
	}
}

.togglebox h3 {
	color: #666666;
	font-size: 1.8em;
	margin-top: 2em;
	margin-bottom: 1em;
}

.togglebox h4 {
	font-size: 1.4em;
	color: #0BA0C0;
	text-transform: uppercase;
}

.togglebox li {
	font-size: 1.1em;
	margin-bottom: .5em;
}


a.hack-btn {
	text-decoration: none;
	text-transform: uppercase;
	color: #78BE20;
	border: 1px solid #78BE20;
	padding: 1.5em;
	display: inline-block;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 4em;
}

a.hack-btn:hover {
	color: white;
	background-color: #78BE20;
}

table {
  max-width: 900px;
  border: 1px solid gray;
	margin: 0 auto;
	margin-bottom: 3em;
	text-align:left;
	margin-top: 2em;
}

table, th, td {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

td {
  padding: 1em 15px;
  line-height: 1.5;
	font-size: 1.1em;
}

.table_ul {
  list-style-type: disc;
  padding-left: 19px;
}

tr td:first-child {
	background-color: #78BE20;
	color: white;
}

table ol, table ul {
  padding-left: 17px;
	margin-top: 1em;
	margin-left: 1em;
	font-size: 1.3rem;
}

table h5 {
	margin-top: .25em;
	padding-top: 0;
}
